body {
    background-image: url("");
    body {background-color: wheat;}
}

button {
    background-color: wheat;
    width: 200px;
    margin: 40px;
    font-size: 20px;

}
img {
    border-radius: 8px;
    width: 300px;
    height: 300px;
}
h2 {
    -webkit-text-fill-color: rgb(83, 13, 13) ;
}

