body {
    background-image: url("");
    body {background-color: wheat;}
   }

button {
    background-color: lightgoldenrodyellow;
    width: 400px;
    margin: 100px;
    font-size: 60px;
    text-color:  orange;
}
img {
    border-radius: 8px;
    width: 300px;
    height: 300px;
  }
